<div class="navbar navbar-fixed-bottom" id="footer">
  <div class="container text-center">
    <p class="navbar-text col-md-12 col-sm-12 col-xs-12" id="footer">Bai Lab at Indiana State University © Copyright 2015 All Rights Reserved</p>
  </div>  
</div>
