<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
        MMiRNA-plot
      </a> -->
      <a class="navbar-brand" rel="home" href="#" title="MMiRNA-plot">
        <img class="logo" src="img/logo.jpg">
      </a>
    </div>
    
    <ul class="nav navbar-nav pull-right">
      <li><a href="/">Home</a></li>
      <li><a href="/mmirna-tar">MMiRNA-Tar</a></li>
      <li><a href="/tutorial">Tutorial</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>
