<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="javascripts/jquery-1.11.2.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/validateInputs.js"></script>
    <script type="text/javascript" src="javascripts/setInput.js"></script>

  </head>
  <body>
    
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <div class="container">
        <h2>About <em>MMiRNA-Tar</em></h2>
        <div class="box">
          <h3>What is <em>MMiRNA-Tar</em>?</h3>
          <p class="lead">
          The pipeline takes the expression information for microRNA and mRNA (timecourse data or a set of samples) as input to calculate the correlation (Pearson), and reports target prediction results based on three databases (TargetProfiler (Oulas, et al., 2012), targetscan (Lewis, et al., 2005), and miRanda (John, et al., 2004)). The tool also generates line charts across timecourse or samples between microRNA and mRNA expression data for a list of selected microRNA-mRNA pairs. The plotted pairs are selected by users with their desired cutoff criterion (e.g. predicted by the number of databases). 
          </p>
          <h3>Notes</h3>
          <ul style="list-style-type:disc">
            <li><p class="lead">
              Due to the size limitation of spreadsheet, the size of selected list should be smaller than 5,000.
            </p></li>
            <li><p class="lead">
              The number of compared samples or timecourse data should be the same between microRNA and mRNA.
            </li>
          </ul>
        </div>
      </div>
    </main>
    
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
