<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="javascripts/jquery-1.11.2.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/validateInputs.js"></script>
    <script type="text/javascript" src="javascripts/setInput.js"></script>

  </head>
  <body>
    
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <div class="container">
        <h2>About</h2>
	<div class="box">
	  <h3>What is MMiRNA-Tar?</h3>
	  <p class="lead">
	  The pipeline will take the expression information for mRNA and microRNA(timecourse or a set of samples) as input and calculate the correlation(Pearson), report target prediction results based on 3 databases(TargetProfiler, targetscan, and miRanda), and match important regions of miRNA to the mRNA. The tool also plots line charts across timecourse or samples between mRNA and microRNA data for a given list of user desired cutoff criteria(e.g. correlation cutoff value or the number of top list candidate pairs of plotting). 
	  </p>
	  <h3>Notes</h3>
	  <p class="lead">
	  1) The software takes human microRNA ID from miRBase as input, but it can be easily extended to handle other species. Pre-calculation of expression also works for species whose genome has not been characterized.
	  <br>
	  2) The number of compared samples or timecourse should be the same between microRNA and mRNA.
	  </p>
        </div>
      </div>
    </main>
    
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
