<!DOCTYPE html>
<html>
  <head>
    <title>Read Split Walk at Bai Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="javascripts/jquery-1.11.2.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/validateInputs.js"></script>
    <script type="text/javascript" src="javascripts/setInput.js"></script>
    <script>
      $(function() {
         $("#tabs").tabs();
      });
    </script>
  </head>
  <body>
    
    <header>
      <% include ./partials/homeHeader %>
    </header>
    <main>
      <div class="container">
       <h1>Bioinformatics tools at Bai Lab</h1>
       <div class="box">
            <a href="/mmirna-tar"><img class="imageLink" src="img/logo_big.jpg"></a>
            <a href="/RSW"><img class="imageLink" src="img/rsw_logo_big.jpg"></a>
        </div>
        <h2>About Bai Lab at Indiana State University</h2>
        <div class="box">
         lorem ipsum
         </div>
      </div>
    </main>
    
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
