<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <div id="form1">
      <form action="./public/submit.js" method="POST">
        <fieldset>
          <legend>Example Elements of From:</legend>
          Example Input Type Text:<br>
          <input type="text" value="">
          <br>
          Example Input Type Radio:<br>
          <input type="radio" name="sex" value="male" checked>Male
          <br>
          <input type="radio" name="sex" value="female" checked>Female
          <br>
          Example Select:<br>
          <select name="files">
            <option value="file1" selected>File1</option>
            <option value="file2">File2</option>
            <option value="file3">File3</option>
          </select>
          <br>
          Example Input Type Submit:<br>
          <input type="submit" value="Submit">
        </fieldset>
        <fieldset>
          <legend>More Elements:</legend>
          A Button:<br>
          <button type="button" onclick="alert('Hello World')">Click Me!</button>
          <br>
          Example Input Type CheckBox:<br>
          <input type="checkbox" name="vehicle" value="Bike">I have a bike
          <br>
          <input type="checkbox" name="vehicle" value="Car">I have a car
          Example Input Type Button:<br>
          <input type="button" onclick="alert('Input Button!')" value="Click Me!">
        </fieldset>
        <fieldset>
          <legend>Input Attributes</legend>
          Value<br>
          
          Readonly<br>
          
          Disabled<br>
          
          Size<br>
          
          maxLength<br>
          
        </fieldset>
      </form>
    </div>
      
    </div>
  </body>
</html>
