.input-group[class*="col-"] {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.logo {
  max-width: 100px;
  margin-top: -9px;
}

.navbar-header {
  min-height: 80px;
}

.nav.navbar-nav {
  margin-top: 30px;
}

p {
  font-size: 15px;
  line-height: 1.5;
}

body {
  padding-bottom: 70px;
}

p#footer {
  color: #337ab7;
}

nav#header {
  background-color: #337ab7;
  border-color: #337ab7;
  border-radius: 0px;
}

div.box {
  background-color: #f4f4f4;
  padding-left: 2em;
  padding-top: 1.2em;
  padding-right: 2em;
  padding-bottom: 1.2em;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.navbar-inverse .navbar-nav>li>a:hover {
  border-radius: 10px;
  background-color: #286090;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}
