.input-group[class*="col-"] {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.logo {
  max-width: 100px;
  margin-top: -9px;
}

.navbar-header {
  min-height: 80px;
}

.nav.navbar-nav {
  margin-top: 30px;
}

p {
  margin: auto, auto, 1.6em, 0;
  font-size: 15px;
  line-height: 1.5;
}

div#footer {
  position: absolute;
  bottom: 0px;
  margin: 0, auto;
  width: 100%;
}

div.box {
  background-color: #f4f4f4;
  padding-left: 2em;
  padding-top: 1.2em;
  padding-right: 2em;
  padding-bottom: 1.2em;
}

